/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  /*padding-right: 15px;
  padding-left: 15px;*/
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.carousel-control,
.carousel-indicators{
	display:none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height:700px;
  margin-bottom:20px;
  /*margin-top:98px;
  height: 962px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  /*top:145px;*/
  top:0px;
  text-shadow:none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height:700px;
  /*height: 962px;
  background-color: #777;*/
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 962px;*/
}
.carousel-caption h1{
	font-size:54px;
}

/* Partners Carousel items */
#myCarouselPartners.carousel {
	height:auto;
	/*margin-bottom:60px;*/
	margin-top:0px;
	margin-bottom:0px;
}
#myCarouselPartners.carousel .item{
	height:auto;
	background-color:none;
}

#myCarouselPartner1.carousel {
	height:697px;
	margin-bottom:0px;
}
#myCarouselPartner1.carousel .item{
	height:697px;
	background-color:none;
}

#myCarouselPartner1 .carousel-caption{
	top:50%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    /*margin-top: 20px;*/
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
	.carousel-caption {
		top:0px;
	}
	.carousel, .carousel .item{
		height:800px;
	}
	.Section_0.partner .carousel-caption{
		top: 20%;
	}
}
@media (min-width: 1200px) {
	.carousel-caption {
		top:145px;
	}
	
	.carousel, .carousel .item{
		height:962px;
	}
	.carousel{
		margin-bottom:60px;
	}
	.Section_0.partner .carousel-caption{
		top: 30%;
	}
}



@media screen and (max-width: 768px){
	.carousel{
		margin-top:0px;
		height:100%;
	}
	.carousel-caption img{
		width:100%;
	}
	.carousel-caption h1{
		color:#008177;
	}
	.carousel-caption p{
		color:#008177;
	}


}