<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<trace enabled="false" />
		<httpCookies requireSSL="true" httpOnlyCookies="true" />
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="/error.html">
			<error statusCode="400" redirect="/error.html" />
			<error statusCode="403" redirect="/error.html" />
			<error statusCode="404" redirect="/error.html" />
			<error statusCode="500" redirect="/error.html" />
			<error statusCode="503" redirect="/error.html" />
		</customErrors>
	</system.web>
	<system.webServer>
		<!--
			<staticContent>
				<remove fileExtension=".htm"/>
				<remove fileExtension=".html"/>
				<mimeMap fileExtension=".htm" mimeType="text/html"/>
				<mimeMap fileExtension=".html" mimeType="text/html"/>
			</staticContent>
		-->
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="400" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="400" path="/error.html" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="403" path="/error.html" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="404" path="/error.html" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="500" path="/error.html" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="503" path="/error.html" prefixLanguageFilePath="" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
</configuration>